body {
    background-color: rgb(37, 38, 40);
}

@media screen and (max-width: 640px) {
    body {
        /* font-size: 12px; */
    }
}

.nav {
    background-color: rgb(190, 49, 68);
    /* display: flex; */
    text-align: center;
    /* align-items: flex-end; */
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    text-decoration: none;
}

.nav-link {
    margin-left: 30rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 200rem;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 39rem;
    padding-top: 2rem;
    color: white;
}

.works {
    padding-top: 30rem;
}

#navbar {
    background-color: rgb(190, 49, 68);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 800;
    font-size: xx-large;
    /* position: fixed; */
}

.head1 {
    font-size: x-large;
    font-weight: bolder;
    margin-left: 39rem;
    padding-top: 2rem;
    color: rgb(190, 49, 68);
}